html {
  color: #333;
  font-size: 14px;
  font-family: 'Microsoft Jhenghei', 'Microsoft Yahei', sans-serif;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
}
